.star-header {
  text-decoration: none;
  color: black;
}

.star-header:hover {
  text-decoration: underline;
}

.star-card {
  flex: 1 1 auto;
}

.tag-hover {
  border-right: none !important;
  padding: 0.25rem 0.5rem !important;
}

.tag-hover:hover, .tag-hover:active {
  background-color: unset !important;
  color: rgb(48, 52, 57) !important;
  pointer-events: none;
}

.remove-tag-btn {
  border-left: none !important;
  padding: 0.25rem 0.5rem !important;
  /* padding: 0.5rem !important; */
}

.remove-tag-btn:hover {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.page-link.active {
  background-color: #0a58ca;
  color: white;
}

.page-link.disabled {
  display: none;
}