#root {
  margin: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 5%;
}
.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.get-star-data {
  margin: 50px;
}

footer {
  margin-top: 50px;
}